body {
  background-image: url(/nature-bg-big.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

@media screen and (max-width: 1375px) {
  body {
    background-image: url(/nature-bg-small.jpg);
  }
}
