:root {
  --header-clr: #1c7f5a;
  --bg-clr: #d7f4e3;
  --cards-clr: #b3e7cc;
  --heading-clr: #09251d;
  --font-clr: #114232;

  --cards-font: "Nunito", sans-serif;
  --city-display-font: "Manrope", sans-serif;
  --headings-font: "Playfair Display", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
}

body {
  background-color: var(--bg-clr);
}

/* Header  */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.8rem 1.8rem;
  background-color: var(--header-clr);
}

.heading-link-home {
  text-decoration: none;
}

.name-heading {
  color: var(--heading-clr);
  font-size: 2.3rem;
  font-family: var(--headings-font);
}

.toggle-units {
  width: 100px;
  height: 40px;
  background-color: white;
  border-radius: 0.8rem;
}

/* Main */
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.display-city-name {
  font-size: 3rem;
  margin: 1.8rem 0 0.8rem 0;
  font-size: 3.5rem;
  color: var(--heading-clr);
  font-family: var(--city-display-font);
}

.search {
  margin-bottom: 1.8rem;
}

/* Current Weather */

.current-weather-container {
  height: 280px;
  width: 800px;
  background-color: var(--cards-clr);
  display: flex;
  flex-direction: column;
}

.current-weather-heading {
  width: 100%;
  text-align: center;
  padding: 1.2rem 0;
}

.card-headings {
  font-size: 1.9rem;
  color: var(--heading-clr);
  font-family: var(--headings-font);
}

.current-weather-sections-container {
  display: flex;
  height: 100%;
  width: 100%;
  color: var(--font-clr);
  font-family: var(--cards-font);
}

.current-weather-sections {
  width: 16.67%;
  height: 100%;
  text-align: center;
}

.weather-five-days-container {
  height: 280px;
  width: 80%;
  margin-top: 2rem;
  background-color: var(--cards-clr);
}

/* Weather in 5 days */

.weather-five-days-container {
  display: flex;
  flex-direction: column;
}

.five-days-heading {
  text-align: center;
  padding: 1rem 0;
}

.five-days-container {
  display: flex;
}

.five-days-sections {
  display: flex;
  flex-direction: column;
  width: 20%;
  height: 100%;
  color: var(--font-clr);
  font-family: var(--cards-font);
}

/* Footer */
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
